@media(max-width: 900px){

  

    #page-home{
        background-position: 50% 100%;
        width: auto;
        
    }

    #page-home .content{
       width: 90%; 
       

    }

    #page-home .calc{
       margin: 5px;
        
        
    }

    #page-home .calc h1{
        font-size: 10px;
    }

    form{
        width: auto;

        margin: 0;
    }

    form fieldset{
        margin: 0;
    }

    form .form{
        align-items: center;

        margin: 0 auto;

    }

    form .botaoSpan{
        width: 90%;
        
        flex-direction: column;

        margin: 5px auto;

        
    }

    form .botaoSpan button{
        width: 65px;
       
    }

    form .botaoSpan button:hover{
        background-color: lightgray;
      }

    form .botaoSpan span{
        font-size: 10px;
        font-weight: 300;
    }

    .form label{
        font-size: 13px;
    }

    .form input{

        width: 110px;
        height: 10px;
        

        border-radius: 8px;
    }

    #page-home .resultado{
        margin-top: 10%;
    }

    .resultado h1{
        font-size: 10px;
    }

    .resultado ul li{
        font-size: 10px;
    }



}