@media(max-width: 900px){

  

    #page-home{
        background-position: 50% 100%;
        width: auto;
        
    }

    #page-home .content{
       width: 90%; 

    }

    #page-home .contentMaster{
        width: 90vw;
        height: 50%;
    }

    #page-home .calc{
       margin-top: 10%;
        
        
    }

    #page-home .calc h1{
        font-size: 10px;
    }

    form{

        height: 100%;
    }

    form fieldset{
        margin: 0;
        height: 20vh;
        flex-direction: column;
    }

    form .form{
        align-items: center;

        margin: 0 auto;

    }

    form .botaoSpan{
        width: 45%;
        
        flex-direction: column;

        margin: 5px auto;

        
    }

    form .botaoSpan button{
        width: 65px;
       
    }

    form .botaoSpan button:hover{
        background-color: lightgray;
      }

    form .botaoSpan span{
        font-size: 10px;
        font-weight: 300;
    }

    .form label{
        font-size: 13px;
    }

    .form input{

        width: 130px;
        height: 25%;

        border-radius: 8px;
    }

    #page-home .resultado{
        margin-top: 10%;
    }

    .resultado h1{
        font-size: 10px;
    }

    .resultado ul li{
        font-size: 10px;
    }



}

@media(max-width: 770px){

    #page-home .contentMaster{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #page-home .calc{
        height: 100%;

        margin-top: 1%;
        margin-bottom: 10px;
    }

    .form input#textNome{
        width: 32ch;
    }

    #page-home .resultado{
        margin-top: 15px;
    }
}

@media(max-width:370px){
    .form input#textNome{
        width: 25ch;
    }
}